DELETE /v2/accounts/{|ran|}/methods/{|methodId|} HTTP/1.1
Accept: application/json
content-type: application/json
x-auth-token: |token|

{
  "paymentMethodInfo": {
    "paymentCard": {
      "ccLast4": "2222",
      "ccExpiry": "12/16"
    }
  }
}