PUT /v2/accounts/{|ran|}/paymentInfo HTTP/1.1
Accept: application/json
content-type: application/json
x-auth-token: |token|

{
  "paymentInfo": {
    "paymentType": "METHOD",
    "paymentDetail": "urn:uuid:696c40a0-c3e7-11e2-8b8b-0800200c9a66"
  }
}