POST /managed-virt/{|accountId|}/virtual-machines/{|deviceId|}/actions/resize HTTP/1.1
Accept: application/json
content-type: application/json
x-auth-token: |token|

{ 
   "cpuCount":1,
   "memoryInMB":1234
}
