PUT /v1/accounts/|ran|/methods/|methodId| HTTP/1.1
Accept: application/json
content-type: application/json
x-auth-token: |token|

{
  "papi:method": {
    "paymentCard": {
      "cardVerificationNumber": "999",
      "expirationDate": "11/2099",
      "cardHolderName": "Card Rich",
      "cardType": "VISA",
      "cardNumber": "1111222233334444"
    }
  }
}