POST /v1/methodValidations HTTP/1.1
Accept: application/xml
content-type: application/xml
x-auth-token: |token|

<?xml version="1.0" encoding="UTF-8"?>
<ns3:methodValidation xmlns:ns2="http://www.w3.org/2005/Atom"
     xmlns:ns3="http://payment.api.rackspacecloud.com/v1"
     xmlns:ns4="http://common.api.rackspacecloud.com/service-profile/v1.0" xmlns:ns5="http://docs.openstack.org/common/api/v1.0">
     <method>
          <paymentCard>
               <cardHolderName>Card Rich</cardHolderName>
               <cardNumber>1234567891123456</cardNumber>
               <expirationDate>11/2011</expirationDate>
               <cardVerificationNumber>222</cardVerificationNumber>
               <cardType>VISA</cardType>
               <addressVerificationInformation>
                    <addressLine1>1313 Basin Oak</addressLine1>
                    <addressLine2>Apt. 13</addressLine2>
                    <city>San Antonio</city>
                    <state>TX</state>
                    <country>US</country>
                    <postalCode>78217</postalCode>
               </addressVerificationInformation>
          </paymentCard>
     </method>
     <lineOfBusiness>US_CLOUD</lineOfBusiness>
     <contractEntity>CONTRACT_US</contractEntity>
     <currencyCode>USD</currencyCode>
</ns3:methodValidation>