POST /v1/finalizemethodcreation HTTP/1.1
Accept: application/xml
content-type: application/xml
x-auth-token: |token|

<?xml version="1.0" encoding="UTF-8"?>
<ns3:methodAssociation xmlns:ns2="http://www.w3.org/2005/Atom"
     xmlns:ns3="http://payment.api.rackspacecloud.com/v1"
     xmlns:ns4="http://common.api.rackspacecloud.com/service-profile/v1.0" xmlns:ns5="http://docs.openstack.org/common/api/v1.0">
     <ran>020-12345769</ran>
     <methodValidationId>|methodValidationId|</methodValidationId>
</ns3:methodAssociation>