POST /v1/accounts/{|ran|}/refunds HTTP/1.1
Accept: application/json
content-type: application/json
x-auth-token: |token|

{
  "papi:refund": {
    "refundAmount": "4405",
    "comments": "Excess charge Refund",
    "submissionId": "urn:uuid:7dc53df5-703e-49b3-8670-b1c468f47f1f"
  }
}