POST /v1/accounts/{|ran|}/methods HTTP/1.1
Accept: application/json
content-type: application/json
x-auth-token: |token|

{
  "papi:method": {
    "paymentCard": {
      "cardVerificationNumber": "222",
      "expirationDate": "11/2011",
      "cardHolderName": "Card Rich",
      "cardType": "VISA",
      "cardNumber": "1234567891123456"
    }
  }
}