POST /v1/finalizemethodcreation HTTP/1.1
Accept: application/json
content-type: application/json
x-auth-token: |token|

{
  "methodAssociation": {
    "ran": "|ran|",
    "methodValidationId": "urn:uuid:|methodValidationId|"
  }
}