POST /v2/accounts/{|ran|}/subscriptions HTTP/1.1
Accept: application/json
content-type: application/json
x-auth-token: |token|

{
  "subscription": {
    "offeringCode": "CSITES",
    "billNowForFirstTime": true,
    "subscriptionCode": "CSITESBPLAN",
    "subscriptionStartDate": "2002-05-30T04:30:10.000-05:00"
  }
}