POST /vcenters HTTP/1.1
Accept: application/json
content-type: application/json
x-auth-token: |token|

{ 
   "name":"vs800.lab.iad1.rvi.local",
   "datacenter":"IAD1",
   "lab":true,
   "type":"MANAGED_VIRT"
}
