PUT /v2/accounts/{|ran|}/externalBillingSystemInfo HTTP/1.1
Accept: application/json
content-type: application/json
x-auth-token: |token|

{
  "externalBillingSystemInfo": {
    "externalAccountNumber": "EBS00001",
    "externalBillingSystemName": "EBS",
    "invoicedInExternalBillingSystem": true
  }
}