POST /v1/accounts/{|ran|}/refunds HTTP/1.1
Accept: application/xml
content-type: application/xml
x-auth-token: |token|

<?xml version="1.0" encoding="UTF-8"?>
<ns3:refund xmlns:ns2="http://www.w3.org/2005/Atom"
     xmlns:ns3="http://payment.api.rackspacecloud.com/v1"
     xmlns:ns4="http://common.api.rackspacecloud.com/service-profile/v1.0" xmlns:ns5="http://docs.openstack.org/common/api/v1.0">
     <refundAmount>4405</refundAmount>
     <comments>Excess charge Refund</comments>
     <submissionId>urn:uuid:7dc53df5-703e-49b3-8670-b1c468f47f1f</submissionId>
</ns3:refund>